<div class="col-md-12">
    <div v-if="isFirst && panelMode == 'is-watching'">
        <div class="box-actions">
            <button class="btn btn-xs btn-info btn-block" @click.prevent="move(section.id, 'before')"><i class="fa fa-arrows"></i></button>
        </div>
    </div>
    <div class="box" :class="{'box-primary': !section.parent_id, moving: isMoving}">
        <div class="box-header with-border">
            <span class="pull-left">
                <h6 class="box-title">{{ section.name }}</h6>
            </span>
            <span class="pull-right">
                <template v-if="panelMode == 'is-moving'">
                    <button class="btn btn-xs btn-default btn-flat" @click.prevent="cancel()">
                        cancel
                    </button>
                </template>
                <template v-if="panelMode == 'default'">
                    <div class="btn-group">
                        <button
                                type="button"
                                title="options"
                                class="btn text-muted dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false"
                        ><i class="fa fa-gear"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="#" @click.prevent="setMoving(section.id)"><i class="fa fa-arrows-alt"></i> Move</i></a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Add New:</li>
                            <li><a href="#" @click.prevent="insert(section.id, 'before')">&bull; before</i></a></li>
                            <li v-if="isBox" @click.prevent="insert(section.id, 'in')"><a href="#">&bull; inside</i></a></li>
                            <li><a href="#" @click.prevent="insert(section.id, 'after')">&bull; after</i></a></li>
                            <li role="separator" class="divider"></li>
                            <li><modal-delete :item-id="section.id" _class="''"><i class="fa fa-trash"></i> Remove</modal-delete></li>
                        </ul>
                        <a class="btn text-muted" href="#" @click.prevent="setActive(section.id)" title="edit section"><i
                                    class="fa fa-pencil"></i></a>
                    </div>
                </template>
            </span>
        </div>
        <div class="box-body">

            <div class="section-content section-preview" v-html="preview"></div>

            <!--            <div v-if="section.heading" class="section-content">-->
            <!--                <h6>heading</h6>-->
            <!--                <div v-html="section.heading"></div>-->
            <!--            </div>-->
            <!--            <div v-if="section.before" class="section-content">-->
            <!--                <h6>upper content</h6>-->
            <!--                <div v-html="section.before"></div>-->
            <!--            </div>-->

            <div v-if="isBox && panelMode == 'is-watching'">
                <div class="box-actions">
                    <button class="btn btn-xs btn-info btn-block" @click.prevent="move(section.id, 'in')"><i class="fa fa-arrows"></i></button>
                </div>
            </div>
            <template v-if="section.children.length">
                <template v-for="child in section.children">
                    <panel :section="child"></panel>
                </template>
            </template>

            <!--            <div v-if="section.after" class="section-content">-->
            <!--                <h6>lower content</h6>-->
            <!--                <div v-html="section.after"></div>-->
            <!--            </div>-->

        </div>
    </div>
    <div class="box-actions">
        <div v-if="panelMode == 'is-watching'">
            <button class="btn btn-xs btn-info btn-block" @click.prevent="move(section.id, 'after')"><i class="fa fa-arrows"></i></button>
        </div>
    </div>
</div>