<div v-if="form.id" class="row">

    <div v-if="form.id" class="col-md-4">
        <thumb></thumb>
        <attachment-summary></attachment-summary>
    </div>

    <div :class="form.id ? 'col-md-8' : 'col-md-12'">

        <form @submit.prevent="submit()" @keydown="form.errors.clear($event.target.name)">

            <base-button-group>
                <template slot="left">
                    <button-translate></button-translate>
                </template>
                <button-save></button-save>
            </base-button-group>

            <div class="clearfix">
                <div class="pull-right">
                    <div class="btn-group">
                        <uploader :id="form.id" multiple="false" title="upload replacement file"></uploader>
                    </div>
                </div>
            </div>

            <input-subtype v-if="form.id" entity_type="attachments"></input-subtype>

            <input-text column="title" placeholder="title">Title</input-text>
            <input-text column="nickname" placeholder="nickname">Nickname</input-text>

            <div class="row">
                <div class="col-md-12">
                    <input-params v-if="form.id" paramable_type="attachments" :paramable_id="entity_id"></input-params>
                </div>
            </div>

            <input-text column="target_url" placeholder="target url">Target Url</input-text>
            <input-text column="alt" placeholder="alt">Alt</input-text>

            <input-textarea column="note">Note</input-textarea>
            <input-textarea column="credits">Credits</input-textarea>

            <base-button-group>
                <template slot="left">
                    <button-translate></button-translate>
                </template>
                <button-save></button-save>
            </base-button-group>

        </form>
    </div>

</div>