<ul class="nav nav-tabs">
    <li :class="{active: $router.currentRoute.name == 'attachments.edit'}">
        <router-link :to="{ name: 'attachments.edit', params: {id: $route.params.id}}"><span class="hidden-sm hidden-xs">Main</span> <i class="fa fa-home visible-sm visible-xs"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'attachments.terms'}">
        <router-link :to="{ name: 'attachments.terms', params: {id: $route.params.id}}"><span class="hidden-sm hidden-xs">Terms</span> <i class="fa fa-sitemap visible-sm visible-xs"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'attachments.resizes'}">
        <router-link :to="{ name: 'attachments.resizes', params: {id: $route.params.id}}">Resizes</router-link>
    </li>
</ul>