.section-tree {
  padding-left: 0 !important;

  ul {
    list-style: none;
    padding-left: 0;

    li {
      span {
        cursor: pointer;
        font-weight: 700;
        &.active {
          text-decoration: underline;
        }
      }
    }

    ul {
      list-style: none;
      padding-left: 1em;
    }
  }

}