<div>
    <heading>
        <span slot="title">List Editor</span>
        <li><router-link :to="{ name: 'lists' }">List Manager</router-link></li>
        <li>{{ list.name }}</li>
    </heading>
    <section class="content">
        <div class="nav-tabs-custom">
            <tabs></tabs>
            <div class="tab-content">
                <div class="clearfix">
                    <div class="pull-right">
                        <div class="btn-group sub-tab-btn-group">
                            <a class="btn btn-xs btn-default" target="_blank" :href="'/lists/' + list.id">preview</a>
                        </div>
                    </div>
                </div>
                <tab></tab>
            </div>
        </div>
    </section>
</div>