<ul class="nav nav-tabs">
    <li :class="{active: $router.currentRoute.name == 'lists.edit'}">
        <router-link :to="{ name: 'lists.edit', params: {id: $route.params.id}}"><span class="hidden-sm">Main</span> <i class="fa fa-home visible-sm"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'lists.sections'}">
        <router-link :to="{ name: 'lists.sections', params: {id: $route.params.id}}"><span class="hidden-sm">Sections</span> <i class="fa fa-table visible-sm"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'lists.attachments'}">
        <router-link :to="{ name: 'lists.attachments', params: {id: $route.params.id}}"><span class="hidden-sm">Attachments</span> <i class="fa fa-file-o visible-sm"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'lists.places'}">
        <router-link :to="{ name: 'lists.places', params: {id: $route.params.id}}">Places</router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'lists.terms'}">
        <router-link :to="{ name: 'lists.terms', params: {id: $route.params.id}}"><span class="hidden-sm">Terms</span> <i class="fa fa-sitemap visible-sm"></i></router-link>
    </li>
</ul>