<div>
    <heading>
        <span slot="title">Term Editor</span>
        <span slot="help"><link-help docKey="admin.content.terms.editor" /></span>
        <li><router-link :to="{ name: 'terms' }">Term Manager</router-link></li>
        <li>{{ form.name }}</li>
    </heading>
    <section class="content">
        <div class="nav-tabs-custom">
            <tabs></tabs>
            <div class="tab-content">
                <tab
                    :morphable="form"
                    :entity_id="form.id"
                    entity_type="terms"
                ></tab>
            </div>
        </div>
    </section>
</div>