<form @submit.prevent="submit()" @keydown="form.errors.clear($event.target.name)" class="translatable">
    <base-button-group>
        <template slot="left">
            <button-translate></button-translate>
        </template>
        <button-preview></button-preview>
        <button-save></button-save>
    </base-button-group>

    <input-subtype entity_type="terms" autoset="true"></input-subtype>

    <input-psuedo-checkbox column="is_active">Is Active</input-psuedo-checkbox>
    
    <div class="form-group" :class="{ 'has-error': form.error('parent_id') }">
        <label for="name">Parent Term</label>
        <input type="hidden" v-model="form.parent_id">
        <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search" @click="toggle()"></i></div>
            <input class="form-control" :value="parentTerm.full_name" readonly>
            <div v-if="form.parent_id" class="input-group-addon"><i class="fa fa-times-circle" @click="clearParentTerm()"></i></div>
        </div>
        <span v-for="error in form.error('parent_id')" class="text-danger">{{ error }}</span>
    </div>
    <div v-if="search">
        <parent-terms :full_admin="false" :confirm_btn="true"></parent-terms>
    </div>
    
    <input-text column="name" required="true" :form="form">Name</input-text>
    
    <input-text v-if="form.id" column="slug">Slug</input-text>
    
    <input-params v-if="form.id" paramable_type="terms" :paramable_id="entity_id"></input-params>

    <input-seo></input-seo>

    <base-button-group>
        <template slot="left">
            <button-translate></button-translate>
        </template>
        <button-preview></button-preview>
        <button-save></button-save>
    </base-button-group>

</form>