<ul class="nav nav-tabs">
    <li :class="{active: $router.currentRoute.name == 'terms.edit'}">
        <router-link :to="{ name: 'terms.edit', params: {id: $route.params.id}}"><span class="hidden-sm hidden-xs">Main</span> <i class="fa fa-home visible-sm visible-xs"></i></router-link>
    </li>
    <li v-if="$parent.sectionable" :class="{active: $router.currentRoute.name == 'terms.sections'}">
        <router-link :to="{ name: 'terms.sections', params: {id: $route.params.id}}"><span class="hidden-sm hidden-xs">Sections</span> <i class="fa fa-table visible-sm visible-xs"></i></router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'terms.attachments'}">
        <router-link :to="{ name: 'terms.attachments', params: {id: $route.params.id}}"><span class="hidden-sm hidden-xs">Attachments</span> <i class="fa fa-file-o visible-sm visible-xs"></i></router-link>
    </li>
</ul>