<div>
    <div v-if="section.id" class="box box-warning">
        <div class="box-header with-border">
            <span class="pull-right"><button class="btn btn-default" @click.prevent="close()" title="close section"><i class="fa fa-times"></i></button></span>
            <h3 class="box-title">{{ section.name }}</h3>
        </div>
        <div class="box-body">
            <template v-if="active.id">
                <inner :section="section"></inner>
                <form  @submit.prevent="active.submit()" @keydown="active.errors.clear($event.target.name)">
                    <div class="form-group" :class="{ 'has-error': active.error('heading') }">
                        <label for="heading">Heading</label>
                        <input @change="active.submit()" type="text" class="form-control" v-model="active.heading" placeholder="heading">
                        <span class="help-block">Optional heading. Will appear at the top of the section.</span>
                        <span v-for="error in active.error('heading')" class="content-danger">{{ error }}</span>
                    </div>
                    <div class="form-group" :class="{ 'has-error': active.error('before') }">
                        <label for="before">Upper Content</label>
                        <!--<textarea @change="active.submit()" class="form-control" rows="10" v-model="active.before" v-editor></textarea>-->

                        <quill-editor v-model="active.before"
                                      @change="active.submit()">
                        </quill-editor>

                        <span class="help-block">Optional HTML body. Will appear above any nested items.</span>
                        <span v-for="error in active.error('before')" class="content-danger">{{ error }}</span>
                    </div>
                </form>
                <form  @submit.prevent="active.submit()" @keydown="active.errors.clear($event.target.name)">
                    <div class="form-group" :class="{ 'has-error': active.error('after') }">
                        <label for="after">Lower Content</label>
                        <textarea @change="active.submit()" class="form-control" rows="10" v-model="active.after" v-editor></textarea>
                        <span class="help-block">Optional HTML body. Will appear below above any nested items.</span>
                        <span v-for="error in active.error('after')" class="content-danger">{{ error }}</span>
                    </div>
                </form>
                <div class="alt-box-footer text-right">
                    <button class="btn btn-primary" :disabled="active.errors.any()" @click.prevent="save()">
                        <span v-if="active.saving"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
                        <span v-else>Save</span>
                    </button>
                </div>
            </template>
        </div>
        <div class="box-footer">

        </div>
    </div>
</div>