<div>
    <create v-if="mode == 'create'"></create>
    <edit v-if="mode == 'edit'" :section="active"></edit>
    <template v-if="mode == 'index'">
        <div class="sections-index">
            <template v-if="sections.items.length">
                <template v-for="section in sections.items">
                    <div class="row">
                        <panel :section="section"></panel>
                    </div>
                </template>
            </template>
            <div class="box-actions">
                <button class="btn btn-xs btn-info btn-block" @click.prevent="insert(0)" title="add section"><i class="fa fa-plus"></i></button>
            </div>
        </div>
    </template>
</div>