<div>
    <div v-if="templates.length" class="template-select-list container-fluid">
        <div v-for="template, key in templates" class="row row-striped">
            <div class="col-md-3 template-label">
                <p><strong>{{ template.label }}</strong></p>
            </div>
            <div class="col-md-6 template-description">
                <p v-if="template.description">{{ template.description }}</p>
            </div>
            <div class="col-md-3 text-right template-action">
                <button class="btn btn-sm btn-default" @click.prevent="update(template.name)">
                    <i class="fa fa-angle-double-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>