<div class="row">
    <div class="col-md-12">
        <h4>Search Attachments</h4>
        <form class="form-inline" style="margin-bottom: 20px;">
            <div class="form-group">
                <p class="help-block">Use the search field to find attachments that can be linked to this item.</p>
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input class="form-control" v-model.trim="detached.query.q" @keyup="detached.index()" placeholder="enter attachment name">
                    <div v-if="detached.query.q" class="input-group-addon" @click="clear()"><i class="fa fa-times-circle"></i></div>
                </div>
            </div>
        </form>
        <template v-if="detached.query.q">
            <h5><strong>Attachment Search Results</strong></h5>
            <div class="row tile-panels">
                <template v-for="attachment in detached.items">
                    <div class="col col-lg-2 col-md-3 col-sm-4">
                        <div class="panel panel-default">
                            <thumb :attachment="attachment" :open_btn="false"></thumb>
                            <div class="panel-footer clearfix">
                                <span class="pull-right">
                                    <button
                                            class="btn btn-xs btn-primary"
                                            @click="attach(attachment.id)"
                                    ><i class="fa fa-link"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </template>
    </div>
    <div class="col-md-12">
        <hr/>
        <h4>Attachment List</h4>
        <div v-if="table.items.length">
            <p class="help-block">The following attachments are linked to this item.</p>
            <div class="row tile-panels">
                <template v-for="attachment, index in table.items" class="clearfix">
                    <div class="col col-lg-2 col-md-3 col-sm-4">
                        <thumb :attachment="attachment" :open_btn="false"></thumb>
                    </div>
                </template>
            </div>
            <pagination></pagination>
        </div>
        <div v-else>
            <p style="font-style: italic;">No attachments are currently linked to this item.</p>
        </div>
    </div>
</div>