<div>
    <heading>
        <span slot="title">Post Editor</span>
        <span slot="subtitle">{{ form.name }}</span>
        <li>
            <router-link :to="{ name: 'posts' }">Posts</router-link>
        </li>
    </heading>
    <div class="nav-tabs-custom nav-tabs-standalone">
        <tabs></tabs>
    </div>
    <div class="box">
        <div class="box-body">
            <div class="clearfix">
                <div class="pull-right">
                    <div class="btn-group">
                        <a class="btn btn-xs btn-default" target="_blank" :href="'/posts/' + form.id">Preview</a>
                    </div>
                </div>
            </div>
            <tab></tab>
        </div>
    </div>
</div>