<form @submit.prevent="form.submit()" @keydown="form.errors.clear($event.target.name)">
    <base-button-group>
        <template slot="left">
            <button-translate></button-translate>
        </template>
        <button-save></button-save>
    </base-button-group>
    <input-subtype entity_type="posts" formKey="form" autoset="true"></input-subtype>
    <input-psuedo-checkbox column="is_active">Is Active</input-psuedo-checkbox>
    <input-text column="name" required="true">Name</input-text>
    <input-text v-if="form.id" column="slug">Slug</input-text>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': form.error('source_name') }">
                <label for="source_name">Source Name</label>
                <input  class="form-control" v-model="form.source_name" placeholder="source name">
                <span v-for="error in form.error('source_name')" class="text-danger">{{ error }}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': form.error('source_url') }">
                <label for="source_url">Source Url</label>
                <input  class="form-control" v-model="form.source_url" placeholder="source url">
                <span v-for="error in form.error('source_url')" class="text-danger">{{ error }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': form.error('post_at') }">
                <label>Post At</label>
                <div class="form-inline">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" name="post_at_date" class="form-control" v-model="form.post_at_date">
                    </div>
                    <div class="input-group date">
                        <input type="time" name="post_at_time" class="form-control" v-model="form.post_at_time">
                    </div>
                </div>
                <span v-for="error in form.error('post_at')" class="text-danger">{{ error }}</span>
            </div>
        </div>
    </div>
    <input-seo></input-seo>
    <base-button-group>
        <template slot="left">
            <button-translate></button-translate>
        </template>
        <button-save></button-save>
    </base-button-group>
</form>