<form @submit.prevent="form.submit()" @keydown="form.errors.clear($event.target.name)">
    <div class="checkbox">
        <label>
            <input type="checkbox"
                   v-model="form.is_active"
            > Is Active
        </label>
    </div>
    <div class="form-group" :class="{ 'has-error': form.error('name') }">
        <label for="name">Name *</label>
        <input  class="form-control" v-model="form.name" placeholder="name">
        <span v-for="error in form.error('name')" class="text-danger">{{ error }}</span>
    </div>
    <div v-if="form.id" class="form-group" :class="{ 'has-error': form.error('slug') }">
        <label for="slug">Slug</label>
        <input  class="form-control" v-model="form.slug" placeholder="slug">
        <span v-for="error in form.error('slug')" class="text-danger">{{ error }}</span>
    </div>
    <template-dropdown v-if="form.id" templateType="posts"></template-dropdown>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': form.error('source_name') }">
                <label for="source_name">Source Name</label>
                <input  class="form-control" v-model="form.source_name" placeholder="source name">
                <span v-for="error in form.error('source_name')" class="text-danger">{{ error }}</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': form.error('source_url') }">
                <label for="source_url">Source Url</label>
                <input  class="form-control" v-model="form.source_url" placeholder="source url">
                <span v-for="error in form.error('source_url')" class="text-danger">{{ error }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" :class="{ 'has-error': form.error('post_at') }">
                <label>Post At</label>
                <div class="form-inline">
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" name="post_at_date" class="form-control" v-model="form.post_at_date">
                    </div>
                    <div class="input-group date">
                        <input type="time" name="post_at_time" class="form-control" v-model="form.post_at_time">
                    </div>
                </div>
                <span v-for="error in form.error('post_at')" class="text-danger">{{ error }}</span>
            </div>
        </div>
    </div>
    <div class="form-group" :class="{ 'has-error': form.error('meta_title') }">
        <label for="meta_title">Meta Title</label>
        <input  class="form-control" v-model="form.meta_title" placeholder="meta title">
        <span v-for="error in form.error('meta_title')" class="text-danger">{{ error }}</span>
    </div>
    <div class="form-group" :class="{ 'has-error': form.error('meta_description') }">
        <label for="meta_description">Meta Description</label>
        <textarea class="form-control" rows="10" v-model="form.meta_description"></textarea>
        <span v-for="error in form.error('meta_description')" class="text-danger">{{ error }}</span>
    </div>
    <div class="form-group" :class="{ 'has-error': form.error('meta_keywords') }">
        <label for="meta_keywords">Meta Keywords</label>
        <textarea class="form-control" rows="10" v-model="form.meta_keywords"></textarea>
        <span v-for="error in form.error('meta_keywords')" class="text-danger">{{ error }}</span>
    </div>
    <div class="text-right">
        <button class="btn btn-primary" :disabled="form.errors.any()">
            <span v-if="form.saving"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
            <span v-else>save</span>
        </button>
    </div>
</form>