<div>
    <form role="form" @submit.prevent="panel.form.submit()" @keydown="panel.form.errors.clear($event.target.name)">
        <div class="form-group" :class="{ 'has-error': panel.form.error('heading') }">
            <label for="heading">Heading</label>
            <input @change="panel.form.submit()" type="text" class="form-control" v-model="panel.form.heading" placeholder="heading">
            <span class="help-block">Optional heading. Will appear at the top of the section.</span>
            <span v-for="error in panel.form.error('heading')" class="content-danger">{{ error }}</span>
        </div>
        <div class="form-group" :class="{ 'has-error': panel.form.error('before') }">
            <label for="before">Upper Content</label>
            <textarea @change="panel.form.submit()" class="form-control" rows="10" v-model="panel.form.before" v-tinymce></textarea>
            <span class="help-block">Optional HTML body. Will appear above any nested items.</span>
            <span v-for="error in panel.form.error('before')" class="content-danger">{{ error }}</span>
        </div>
    </form>
    <label>{{ section.name }}</label>
    <div class="section-sub-item">
        <div class="row">
            <div class="col-md-6">
                <form role="form" @submit.prevent="panel.form.submit()" @keydown="panel.form.errors.clear($event.target.name)">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" :class="{ 'has-error': panel.form.error('template') }">
                                <label for="template">Template</label>
                                <select @change="panel.form.submit()" v-model="panel.form.template" name="template" class="form-control">
                                    <template v-for="label, value in dropdown">
                                        <option :value="value">{{ label }}</option>
                                    </template>
                                </select>
                                <span v-for="error in panel.form.error('template')" class="contents-danger">{{ error }}</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <template v-if="params.items.length">
                    <label>Parameters</label>
                    <template v-for="param in params.items">
                        <section-param :section="section" :param="param"></section-param>
                    </template>
                </template>
            </div>
        </div>
        <item-attachment v-if="isType('attachments')" :section="section"></item-attachment>
        <item-box v-if="isType('sections')" item-section :section="section"></item-box>
        <item-block v-if="isType('blocks')" :section="section"></item-block>
        <item-custom v-if="isType('custom')" :section="section"></item-custom>
        <item-menu v-if="isType('menus')" :section="section"></item-menu>
        <item-tout v-if="isType('touts')" item-tout :section="section"></item-tout>
    </div>
    <form role="form" @submit.prevent="panel.form.submit()" @keydown="panel.form.errors.clear($event.target.name)">
        <div class="form-group" :class="{ 'has-error': panel.form.error('after') }">
            <label for="after">Lower Content</label>
            <textarea @change="panel.form.submit()" class="form-control" rows="10" v-model="panel.form.after" v-tinymce></textarea>
            <span class="help-block">Optional HTML body. Will appear below above any nested items.</span>
            <span v-for="error in panel.form.error('after')" class="content-danger">{{ error }}</span>
        </div>
    </form>
    <div class="alt-box-footer text-right">
        <button type="submit" class="btn btn-primary" :disabled="panel.form.errors.any()" @click="panel.form.submit()">
            <span v-if="panel.form.saving"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
            <span v-else>Save</span>
        </button>
    </div>
</div>