<div>
    <div v-if="isActivePanel">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li :class="{ active: shared.tabs.show('preview') }"><a @click="shared.tabs.set('preview')" data-toggle="tab">Preview</a></li>
                <li :class="{ active: shared.tabs.show('content') }"><a @click="shared.tabs.set('content')" data-toggle="tab">Section</a></li>
                <li class="header pull-left"><i class="fa fa-th-large"></i> {{ section.name }}</li>
            </ul>
        </div>
        <div v-show="shared.tabs.show('preview')">
            <panel-preview :section="section"></panel-preview>
        </div>
        <div v-show="shared.tabs.show('content')">
            <panel-content :section="section"></panel-content>
        </div>
    </div>
    <template v-if="section.children.length">
        <template v-for="child in section.children">
            <panels :section="child"></panels>
        </template>
    </template>
</div>