<div>
    <div v-if="isActive">

        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs pull-right">
                <li :class="{ active: tabs.show('params') }"><a @click="tabs.set('params')" data-toggle="tab">Params</a></li>
                <li :class="{ active: tabs.show('content') }"><a @click="tabs.set('content')" data-toggle="tab">Content</a></li>
                <li :class="{ active: tabs.show('preview') }"><a @click="tabs.set('preview')" data-toggle="tab">Preview</a></li>
                <li :class="{ active: tabs.show('item') }"><a @click="tabs.set('item')" data-toggle="tab">{{ section.name }}</a></li>
            </ul>
        </div>

        <div v-show="tabs.show('item')">
            <edit-item :section="section"></edit-item>
        </div>
        <div v-show="tabs.show('preview')">
            <edit-preview :section="section"></edit-preview>
        </div>
        <div v-show="tabs.show('content')">
            <edit-content :section="section"></edit-content>
        </div>
        <div v-show="tabs.show('params')">
            <edit-params :section="section"></edit-params>
        </div>
    </div>
    <template v-if="section.children.length">
        <template v-for="child in section.children">
            <panel-edit :section="child"></panel-edit>
        </template>
    </template>
</div>