<div class="row">
    <div class="col-md-12">
        <h4>Create Handles</h4>
        <p class="help-block">Use the field to add a new handle to this item.</p>
        <form class="xform-inline" @submit.prevent="store()" @keydown="form.errors.clear($event.target.name)" style="margin-bottom: 20px;">
            <div class="form-group">
                <div class="input-group">
                    <input type="name" class="form-control" v-model="form.url" placeholder="enter handle url" zstyle="width: 100%;">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" :disabled="form.errors.any()">
                            <span v-if="form.saving"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
                            <span v-else>add</span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
        <div class="form-group" :class="{ 'has-error': form.error('url') }">
            <span v-for="error in form.error('url')" class="text-danger">{{ error }}</span>
        </div>
    </div>
    <div class="col-md-12">
        <hr/>
        <h4>Handle List</h4>
        <div v-if="table.items.length">
            <p class="help-block">The following handles are linked to this item.</p>
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Type</th>
                    <th>Is Default</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <template v-for="handle in table.items">
                    <edit :handle="handle"></edit>
                </template>
                </tbody>
            </table>
            <pagination></pagination>
        </div>
        <div v-else>
            <p style="font-style: italic;">No handles are currently linked to this item.</p>
        </div>
    </div>
</div>