<div>
    <template v-if="config.params">
        <label>Parameters</label>
        <template v-for="param, key in config.params">
            <div class="form-group">
                <label for="value" class="col-sm-2 control-label">{{ key }} </label>
                <div class="col-sm-10">
                    <select :name="key" v-model="params[key].value" class="form-control" @change="params[key].submit()">
                        <template v-for="option, value in param">
                            <option :value="value">{{ option }}</option>
                        </template>
                    </select>
                </div>
            </div>
        </template>
    </template>
</div>