<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">&nbsp;</h3>
        <div class="box-tools pull-right">
            <a class="btn text-muted" href="sections" title="close section" @click.prevent="close()">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        <form @submit.prevent="submit()" @keydown="form.errors.clear($event.target.name)">
            <input-subtype v-if="form.id" entity_type="list_items"></input-subtype>
            <i v-if="reloading" class="fa fa-spinner fa-spin"></i>
            <input-params v-else paramable_type="list_items" :paramable_id="entity_id"></input-params>
            <div class="clearfix">
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn btn-sm btn-primary" :disabled="form.errors.any()">
                            <span v-if="form.saving"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
                            <span v-else>save</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>