<div v-if="form.id" class="box">
    <div class="box-header with-border">
        <h3 class="box-title">&nbsp;</h3>
        <div class="box-tools pull-right">
            <a class="btn text-muted" href="sections" title="close section" @click.prevent="close()">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
    <div class="box-body">
        <form @submit.prevent="submit()" @keydown="form.errors.clear($event.target.name)">

            <base-button-group>
                <template slot="left">
                    <button-translate></button-translate>
                </template>
                <button-save></button-save>
            </base-button-group>

            <input-subtype entity_type="list_items"></input-subtype>
            <i v-if="reloading" class="fa fa-spinner fa-spin"></i>
            <input-params v-else paramable_type="list_items" :paramable_id="entity_id"></input-params>

            <base-button-group>
                <template slot="left">
                    <button-translate></button-translate>
                </template>
                <button-save></button-save>
            </base-button-group>

        </form>
    </div>
</div>