<li :class="dropClasses"><span class="dropzone dropzone-before"></span>
    <span
            class="dropzone dropzone-in"
            draggable="true"
            :data-id="section.id"
            :data-type="section.sectionable_type"
            @click.prevent="setActivePanel(section.id)"
            @drag="drag"
            @mouseout="mouseout"
            @drop="drop"
            @dragover.prevent
            @dragover="dragover"
            @dragleave="dragleave"
    >{{ section.name }}</span>
    <ul v-if="section.children.length">
        <template v-for="child in section.children">
            <list :section="child"></list>
        </template>
    </ul>
    <span vif="section.sectionable_type == 'sections'"
          class="dropzone dropzone-after"
          :data-id="section.id"
          :data-type="'after'"
          @drop="drop"
          @dragover.prevent
          @dragover="dragover"
          @dragleave="dragleave"
    ></span></li>