<div class="tile-panel" :class="{highlighted: highlighted}">
    <div class="tile-panel-toolbar clearfix">
        <template v-if="mode == 'is-moving'">
            <span class="pull-right">
                <button class="btn btn-xs btn-primary btn-flat" @click.prevent="cancelMove()">
                    cancel
                </button>
            </span>
        </template>
        <template v-if="mode == 'is-watching'">
            <span class="pull-left">
                <button class="btn btn-xs btn-default btn-flat" @click.prevent="move(item.id, 'before')">
                    <i class="fa fa-caret-left"></i> before
                </button>
            </span>
            <span class="pull-right">
                <button class="btn btn-xs btn-default btn-flat" @click.prevent="move(item.id, 'after')">
                    after <i class="fa fa-caret-right"></i>
                </button>
            </span>
        </template>
        <template v-if="mode == 'default'">
            <div class="pull-left">
                <div class="tile-panel-checkbox" @click.prevent="highlight(item.id)">
                    <span v-if="highlighted"><i class="fa fa-check-square-o"></i></span>
                    <span v-else><i class="fa fa-square-o"></i></span>
                </div>
            </div>
            <span class="pull-right">
                <div class="btn-group" role="group" aria-label="">
                    <button class="btn btn-xs btn-default btn-flat" @click.prevent="startMove(item.id)"><i class="fa fa-arrows"></i></button>
                    <router-link :to="{ name: 'lists.items.edit', params: {id: $route.params.id, item_id: item.id}}">
                        <button class="btn btn-xs btn-default btn-flat"><i class="fa fa-edit"></i></button>
                    </router-link>
                </div>
            </span>
        </template>
    </div>
    <div @click.prevent="highlight(file)">
<!--        <component :is="tile" :item="item.listable"></component>-->
    </div>
<!--    <div class="tile-panel-footer clearfix">-->
<!--        <span class="pull-left">-->
<!--            {{ item.listable_type }}-->
<!--        </span>-->
    </div>
</div>