<div>
    <heading>
        <span slot="title">Page Editor</span>
        <span slot="subtitle">{{ form.name }}</span>
        <li>
            <router-link :to="{ name: 'pages' }">Pages</router-link>
        </li>
    </heading>
    <section class="content">
        <div class="nav-tabs-custom">
            <tabs></tabs>
            <div class="tab-content">
                <div class="clearfix">
                    <div class="pull-right">
                        <div class="btn-group sub-tab-btn-group">
                            <a class="btn btn-xs btn-default" target="_blank" :href="'/pages/' + form.id">Preview</a>
                        </div>
                    </div>
                </div>
                <template v-if="form.id">
                    <tab
                            :morphable="form"
                            :morphable_id="form.id"
                            morphable_type="pages"
                    ></tab>
                    <!--:_config="config"-->
                </template>
            </div>
        </div>
    </section>
</div>