<div>
    <heading>
        <span slot="title">Page Editor</span>
        <span slot="help"><link-help docKey="admin.content.pages.editor"/></span>
        <li><router-link :to="{ name: 'pages' }">Page Manager</router-link></li>
        <li>{{ form.name }}</li>
    </heading>
    <section class="content">
        <div class="nav-tabs-custom">
            <tabs></tabs>
            <div class="tab-content">
                <template v-if="form.id">
                    <tab
                        :morphable="form"
                        :entity_id="form.id"
                        entity_type="pages"
                    ></tab>
                </template>
            </div>
        </div>
    </section>
</div>