<ul class="nav nav-tabs">
    <li :class="{active: $router.currentRoute.name == 'pages.edit'}">
        <router-link :to="{ name: 'pages.edit', params: {id: $route.params.id}}">Main</router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'pages.sections'}">
        <router-link :to="{ name: 'pages.sections', params: {id: $route.params.id}}">Sections</router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'pages.tags'}">
        <router-link :to="{ name: 'pages.tags', params: {id: $route.params.id}}">Tags</router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'pages.params'}">
        <router-link :to="{ name: 'pages.params', params: {id: $route.params.id}}">Params</router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'pages.handles'}">
        <router-link :to="{ name: 'pages.handles', params: {id: $route.params.id}}">Handles</router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'pages.categories'}">
        <router-link :to="{ name: 'pages.categories', params: {id: $route.params.id}}">Categories</router-link>
    </li>
    <li :class="{active: $router.currentRoute.name == 'pages.attachments'}">
        <router-link :to="{ name: 'pages.attachments', params: {id: $route.params.id}}">Attachments</router-link>
    </li>
</ul>