<div>
    <div v-if="section.id" class="box box-warning">
        <div class="box-header with-border">
            <span class="pull-left">
                <h6 class="box-title">{{ section.name }}</h6>
            </span>
            <span class="pull-right">
                <a class="btn text-muted" href="sections" title="close section" @click.prevent="go()">
                    <i class="fa fa-times"></i>
                </a>
            </span>
        </div>
        <div class="box-body">
            <form @submit.prevent="updateSection()" @keydown="section.errors.clear($event.target.name)">
                <div class="form-group" :class="{ 'has-error': section.error('template') }">
                    <label for="template">Template</label>
                    <select @change="updateSection()" v-model="section.template" name="template" class="form-control">
                        <template v-for="template in templates">
                            <option :value="template.key">{{ template.label }}</option>
                        </template>
                    </select>
                    <span v-for="error in section.error('template')" class="contents-danger">{{ error }}</span>
                </div>
            </form>
            <params paramable_type="sections" :paramable_id="section.id"></params>
        </div>
    </div>
</div>