<div>
    <div v-if="show">
        <form class="form-horizontal" role="form" @submit.prevent="form.submit()" @keydown="form.errors.clear($event.target.name)">
            <div class="form-group" :class="{ 'has-error': form.error('value') }">
                <label for="value" class="col-sm-2 control-label">{{ param.key }}</label>
                <div class="col-sm-10">
                    <select v-model="form.value" name="value" class="form-control" @change="form.submit()">
                        <template v-for="label, value in dropdown">
                            <option :value="value">{{ label }}</option>
                        </template>
                    </select>
                </div>
                <span v-for="error in form.error('template')" class="contents-danger">{{ error }}</span>
            </div>
        </form>
    </div>
</div>