<div class="row">

    <div class="col-md-12">
        <create></create>
    </div>

    <hr/>

    <div class="col-md-12">

        <h4>List Items <i v-if="table.loading" class="fa fa-spin fa-spinner"></i></h4>

        <div v-if="table.items.length">
            <p class="help-block">The following items are associated with this list.</p>

            <div class="filter-set clearfix">
                <div class="pull-left">
                    <filter-search @filter-search-update="filter"></filter-search>
                </div>
                <div class="pull-left">
                    <filter-templates @filter-template-update="filter" entity_type="list_items"></filter-templates>
                </div>
            </div>

            <div class="tile-panel-toolbar clearfix">
                <span class="pull-left">
                    <div class="btn-group">
                        <button
                                class="btn btn-default"
                                :disabled="mode == 'grid'"
                                @click.prevent="setMode('grid')"
                        ><i class="fa fa-th"></i></button>
                        <button
                                class="btn btn-default"
                                :disabled="mode == 'rows'"
                                @click.prevent="setMode('rows')"
                        ><i class="fa fa-bars"></i></button>
                    </div>
                </span>
                <span class="pull-right">
                    <div class="btn-group">
                        <template v-if="hasHighlighted">
                            <button
                                    class="btn btn-default"
                                    title="click to unlink selected items from list"
                                    @click.prevent="detach()"
                            ><i class="fa fa-unlink"></i></button>
                        </template>
                    </div>
                </span>
            </div>

            <div v-if="mode == 'grid'" class="row tile-panels">
                <template v-for="item in table.items">
                    <div class="col col-lg-2 col-md-3 col-sm-4">
                        <grid-item
                                :item="item"
                                @highlight-listable="highlight"
                                @start-listable-move="startMove"
                                @cancel-listable-move="cancelMove"
                                @complete-listable-move="completeMove"
                        ></grid-item>
                    </div>
                </template>
            </div>

            <div v-if="mode == 'rows'" class="row tile-panels">
                <template v-for="item in table.items">
                    <div class="col-md-12">
                        <row-item
                                :item="item"
                                @highlight-listable="highlight"
                                @start-listable-move="startMove"
                                @cancel-listable-move="cancelMove"
                                @complete-listable-move="completeMove"
                        ></row-item>
                    </div>
                </template>
            </div>

            <pagination></pagination>

        </div>
        <div v-else>
            <p style="font-style: italic;">No items are currently linked to this item.</p>
        </div>

    </div>

</div>